<!DOCTYPE html>
<html>

<head>
    <title>My Project</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <section class="project-form">

        <div class="form-card">

            <h2>Edit Project</h2>

            <form action="/project/edit/{{project.id_projects}}" method="post">

                <div class="input-group">
                    <label>Project Name</label>
                    <input
                        type="text"
                        name="project_name"
                        value="{{project.project_name}}"
                    >
                </div>

                <div class="date-group">

                    <div class="input-group">
                        <label>Start Date</label>
                        <input
                            type="date"
                            name="start_date"
                            value="{{project.start_date}}"
                        >
                    </div>

                    <div class="input-group">
                        <label>End Date</label>
                        <input
                            type="date"
                            name="end_date"
                            value="{{project.end_date}}"
                        >
                    </div>

                </div>

                <div class="input-group">
                    <label></label>
                    <input
                        type="text"
                        name="image"
                        value="{{project.image}}"
                    >
                </div>

                <div class="input-group">
                    <label>Description</label>

                    <textarea name="description">{{project.description}}</textarea>
                </div>

                <button
                    type="submit"
                    class="btn-submit"
                >
                    Update Project
                </button>

            </form>

            <br>

            <a href="/project">
                ← Back to Project
            </a>

        </div>

    </section>

</body>

</html>