<html>

<head>
    <title>Detail</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Project Detail</h1>
    <hr>
    <h2>{{project.project_name}}</h2>
    <p>
        {{project.start_date}}
        -
        {{project.end_date}}
    </p>

    <p>
        {{project.description}}
    </p>

    {{#if project.image}}
        <img src="{{project.image}}" width="300">
    {{/if}}

    <br>
    <a href="/project">Back</a>

</body>


</html>